<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GestAdh45Entities" connectionString="metadata=res://*/GestAdh45Model.csdl|res://*/GestAdh45Model.ssdl|res://*/GestAdh45Model.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;D:\Mes Documents\Dropbox\GestAdh45\2011-2012 - Copie.eyb&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>